.configuracoes-container {
  padding: 20px;
}

.configuracoes-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row; /* Align label and input in a row */
  align-items: center; /* Vertically align label and input */
}

.form-group label {
  display: inline-block;
  width: 200px; /* Adjust the width as needed */
  text-align: right; /* Align labels to the right */
  margin-right: 10px; /* Add some spacing between label and input */
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="number"] {
  width: calc(100% - 210px); /* Adjust the width based on label width and spacing */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="file"] {
  margin-left: 210px; /* Align file input with the other inputs */
}

.form-actions {
  margin-top: 20px;
}

.form-actions button {
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.form-actions button:hover {
  background-color: #2980b9;
}
